
<div class="row center">
  <h2>Корзина</h2>
</div>

<div class="row">
  <div class="col s12 m7 l9">
    <table class="bordered striped highlight shopping-cart-view">
    <thead>
      <tr>
          <th></th>
          <th>Продукт</th>
          <th>Цена</th>
          <th>Колличество</th>
          <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.shoppingCartData.shoppingCart">
        <td><img class="responsive-img circle" width="100px" src="img/poo.jpg"></td>
        <td>{{item.product.title}}</td>
        <td>{{item.product.price}} грн.</td>
        <td><a class="waves-effect btn-flat btn-floating"
               ng-click="vm.itemCountRemove(item)"><i class="material-icons black-text">remove</i></a>
            <span>{{item.count}}шт.</span>
            <a class="waves-effect btn-flat btn-floating"
               ng-click="vm.itemCountAdd(item)"><i class="material-icons black-text">add</i></a></td>
        <td>{{item.product.price * item.count}} грн.</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="col s12 m5 l3">
    <div class="card-panel blue-grey lighten-5">
      <div class="card-content">
              <div class="row center">
                <h5 class="card-title">Итого:</h5>
              </div>
              <div class="row">
                <span class="s8"><b>Всего товаров: </b></span>
                <span class="s4 right light-blue-text">{{vm.shoppingCartData.cartSize}}</span>
              </div>
              <div class="row">
                <span class="s8"><b>На сумму: </b></span>
                <span class="s4 right light-blue-text">{{vm.shoppingCartData.fullCost}} грн.</span>
              </div>
              <div class="row center">
                <a class="waves-effect waves-light btn green darken-2">Оформить заказ</a>
              </div>
            </div>
    </div>
  </div>
  
</div>
